// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: #F4F4F4;
$blue: #c0ddee;

.question {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: $blue // Using this variable
  // border: 1px;
  // border-radius: 4px;
}

.answer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /* background: $gray */
}

.link {
  margin:auto;
  width: 30%;
}